# This is Git's per-user configuration file.
[user]
	name = "Vick Mukherjee"
	email = vickm@microsoft.com
[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
